<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sa="http://www.w3.org/1999/xhtml" lang="zh">
<head>
    <meta charset="utf-8">
    <title>控制后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}"/>
    <!--    <link rel="stylesheet" th:href="@{/admin/css/other/console1.css}"/>-->
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-header">
        快速充值电费
    </div>
    <div class="layui-card-body">
        <form class="layui-form flex justify-center flex-wrap" action="">
            <div class="layui-form-item" sa:hasRole="ADMIN">
                <label class="layui-form-label">宿舍号</label>
                <div class="layui-input-block">
                    <select name="dormId" class="layui-input-block" lay-verify="required" lay-search>
                        <option value="">请选择宿舍号（不可空）</option>
                        <div th:each="dorm: ${dormList}">
                            <option th:value="${dorm.id}" th:text="${dorm.name}"></option>
                        </div>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label w-24">充值金额</label>
                <div class="layui-input-block">
                    <input type="number" name="amount" lay-verify="required|amount|number" autocomplete="off"
                           placeholder="请输入充值金额，单位：元"
                           class="layui-input w-64">
                </div>
            </div>

            <div class="layui-form-item layui-inline ml-4">
                <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                        lay-filter="recharge-save">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="pear-btn pear-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header">
        操作日志
    </div>
    <div class="layui-card-body">
        <form class="layui-form flex justify-center flex-wrap" action="">
            <div class="layui-form-item" sa:hasRole="ADMIN">
                <label class="layui-form-label">宿舍号</label>
                <div class="layui-input-block">
                    <select name="dormId" class="layui-input-block" lay-verify="required" lay-search>
                        <option value="">请选择宿舍号（不可空）</option>
                        <div th:each="dorm: ${dormList}">
                            <option th:value="${dorm.id}" th:text="${dorm.name}"></option>
                        </div>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label w-24">充值金额</label>
                <div class="layui-input-block">
                    <input type="number" name="amount" lay-verify="required|amount|number" autocomplete="off"
                           placeholder="请输入充值金额，单位：元"
                           class="layui-input w-64">
                </div>
            </div>

            <div class="layui-form-item layui-inline ml-4">
                <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                        lay-filter="recharge-save">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="pear-btn pear-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>

<!--</div>-->
<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script>
    layui.use(['layer', 'echarts', 'element', 'count'], function () {
        const $ = layui.jquery
        const layer = layui.layer
        const element = layui.element


    });
</script>
</body>
</html>
