<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sa="http://www.w3.org/1999/xhtml" lang="zh">
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form flex justify-center flex-wrap" action="">
            <div sa:hasrole="ADMIN" class="layui-form-item layui-inline">
                <label class="layui-form-label">宿舍号</label>
                <div  class="layui-input-inline">
                    <select name="dormId" class="layui-input-inline" lay-search>
                        <option value="">请选择宿舍号（可空）</option>
                        <div th:each="dorm: ${dormList}">
                            <option th:value="${dorm.id}" th:text="${dorm.name}"></option>
                        </div>
                    </select>
                </div>
            </div>
            <div sa:hasrole="ADMIN" class="layui-form-item layui-inline">
                <label class="layui-form-label">宿舍楼</label>
                <div class="layui-input-inline">
                    <select name="buildingId" class="layui-input-inline" lay-search>
                        <option value="">请选择宿舍楼（可空）</option>
                        <div th:each="building: ${buildingList}">
                            <option th:value="${building.id}" th:text="${building.name}"></option>
                        </div>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label w-24">开始时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="startDate" class="layui-input" id="startDate">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label w-24">结束时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="endDate" class="layui-input" id="endDate">
                </div>
            </div>
            <div class="layui-form-item layui-inline ">
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="electricity-record-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>

        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="electricity-record-table" lay-filter="electricity-record-table"></table>
    </div>
</div>

<script type="text/html" id="user-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        模拟用电
    </button>
</script>

<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script th:inline="javascript">
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + date.getMinutes()
            + seperator2 + date.getSeconds();
        return currentdate;
    }


    layui.use(['table', 'form', 'jquery', 'common', 'laydate'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;

        let laydate = layui.laydate;

        const startDate = laydate.render({
            elem: '#startDate',
            max: getNowFormatDate(),
            done: function (value, date) {
                endDate.config.min = {
                    year: date.year,
                    month: date.month - 1,
                    date: date.date,
                    hours: date.hours,
                    minutes: date.minutes,
                    seconds: date.seconds
                };
            }
        });
        const endDate = laydate.render({
            elem: '#endDate' //指定元素,
            , max: getNowFormatDate()
        });

        let MODULE_PATH = "operate/";

        let cols = [
            [{
                type: 'checkbox'
            },
                {
                    title: '宿舍号',
                    field: 'dormName',
                    align: 'center',
                    width: 100,
                    totalRowText: '合计:'
                },
                {
                    title: '宿舍楼',
                    field: 'buildingName',
                    align: 'center'
                },
                {
                    title: '用电量（度）',
                    field: 'powerConsumption',
                    align: 'center',
                    totalRow: '{{ d.TOTAL_NUMS }} 度',
                    sort: true
                },
                {
                    title: '日期',
                    field: 'recordDate',
                    align: 'center',
                    sort: true
                },
                {
                    title: '单价（元/度）',
                    field: 'price',
                    align: 'center'
                },
                {
                    title: '总计（元）',
                    field: 'totalPrice',
                    align: 'center',
                    totalRow: '{{ d.TOTAL_NUMS }} 元',
                    sort: true
                }
            ]
        ]

        table.render({
            elem: '#electricity-record-table',
            url: '/api/electricityRecord/list',
            page: true,
            type: 'POST',
            cols: cols,
            totalRow: true,
            skin: 'line',
            toolbar: '#user-toolbar',
            defaultToolbar: [{
                title: '刷新',
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });


        table.on('toolbar(electricity-record-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            }
        });

        form.on('submit(electricity-record-query)', function (data) {
            table.reload('electricity-record-table', {
                where: data.field,
                url: '/api/electricityRecord/list'
            })
            return false;
        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: [common.isModile() ? '100%' : '500px', common.isModile() ? '100%' : '400px'],
                content: MODULE_PATH + 'add'
            });
        }


        window.refresh = function (param) {
            table.reload('electricity-record-table');
        }
    })
</script>
</body>
</html>
