<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录界面</title>
    <!-- 样 式 文 件 -->
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/other/login.css}"/>
</head>
<!-- 代 码 结 构 -->
<body background="/admin/images/background.svg" style="background-size: cover;">
<form class="layui-form" action="javascript:void(0);">
    <div class="layui-form-item">
        <img class="logo" th:src="@{/admin/images/logo.png}"/>
        <div class="title">Manager System</div>
        <div class="desc">
            闽南师范大学宿舍电费管理系统
        </div>
    </div>
    <div class="layui-form-item">
        <input placeholder="用户名或邮箱: " name="username" lay-verify="required" hover class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input placeholder="密 码 :" name="password" type="password" lay-verify="required" hover class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input placeholder="验证码 : " name="code" hover lay-verify="required"
               class="code layui-input layui-input-inline"/>
        <img th:src="@{/api/captcha}" class="codeImage" onclick="this.src='/api/captcha?d='+new Date()*1"/>
    </div>
    <div class="layui-form-item">
        <input type="checkbox" name="remember" title="记住密码" lay-skin="primary" checked>
    </div>
    <div class="layui-form-item">
        <button type="button" class="pear-btn pear-btn-success login" lay-submit lay-filter="login">
            登 入
        </button>
    </div>
    <div class="layui-form-item ">
        <div class="layui-row flex-space-around">
            <a href="javascript:void(0);" class="forget">忘记密码？</a>
            <a th:href="@{/register}" class="register">注册账号</a>
        </div>
    </div>
</form>
<!-- 资 源 引 入 -->
<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script>
    layui.use(['form', 'button', 'popup'], function () {
        const form = layui.form;
        const button = layui.button;
        const popup = layui.popup;
        const $ = layui.jquery;

        // 页面加载完成后，自动获取存储的用户名和密码
        const username = localStorage.getItem('username');
        const password = localStorage.getItem('password');
        if (username && password) {
            $('input[name="username"]').val(username);
            $('input[name="password"]').val(password);
            $('input[name="remember"]').prop('checked', true);
        }

        // 登 录 提 交
        form.on('submit(login)', function (data) {
            /// 验证
            if (data.field.code.length !== 4) {
                popup.failure('验证码长度不正确');
                return false;
            }

            const dom = button.load({
                elem: '.login'
            })
            /// 登录
            $.ajax({
                url: '/api/user/login',
                type: 'POST',
                data: data.field,
                success: function (res) {
                    dom.stop();
                    if (res.code === 200) {
                        popup.success('登录成功', function () {
                            // 处理用户记住密码
                            if (data.field.remember) {
                                localStorage.setItem('username', data.field.username);
                                localStorage.setItem('password', data.field.password);
                            } else {
                                localStorage.removeItem('username');
                                localStorage.removeItem('password');
                            }
                            window.location.href = '/index';
                        });
                    } else {
                        popup.failure(res.msg);
                    }
                }
            });


            return false;
        });
    })
</script>
</body>
</html>