<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>注册界面</title>
    <!-- 样 式 文 件 -->
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/other/register.css}"/>
</head>
<!-- 代 码 结 构 -->
<body background="/admin/images/background.svg" style="background-size: cover;">
<form class="layui-form" action="javascript:void(0);">
    <div class="layui-form-item">
        <img class="logo" th:src="@{/admin/images/logo.png}"/>
        <div class="title">Manager System</div>
        <div class="desc">
            闽南师范大学宿舍电费管理系统
        </div>
    </div>
    <div class="layui-form-item">
        <input placeholder="用户名 : 202008180199 " name="username" lay-verify="required|username" hover
               class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input placeholder="姓名 : 张三 " name="name" lay-verify="required" hover class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input placeholder="密 码 : admin " type="password" name="password" lay-verify="required|pass" hover
               class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input placeholder="邮箱 : 123@163.com " name="email" lay-verify="required|email" hover class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input placeholder="验证码 : " name="code" hover lay-verify="required"
               class="code layui-input layui-input-inline"/>
        <button class="pear-btn pear-btn-primary button-inline send-email" lay-filter="send">发送</button>
    </div>
    <div class="layui-form-item">
        <select name="dormId" lay-verify="required" lay-search>
            <option value="">请选择你的宿舍</option>
            <div th:each="dorm: ${dormList}">
                <option th:value="${dorm.id}" th:text="${dorm.name}"></option>
            </div>
        </select>
    </div>
    <div class="layui-form-item">
        <button type="button" class="pear-btn pear-btn-success register" lay-submit lay-filter="register">
            注 册
        </button>
    </div>
    <div class="layui-form-item ">
        <div class="layui-row flex-space-around">
            <a href="javascript:void(0);" class="forget">忘记密码？</a>
            <a th:href="@{/login}" class="register">返回登录</a>
        </div>
    </div>
</form>
<!-- 资 源 引 入 -->
<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script>
    layui.use(['form', 'button', 'popup'], function () {
        const form = layui.form;
        const button = layui.button;
        const popup = layui.popup;
        const $ = layui.jquery;

        // 监听发送验证码按钮
        $('.send-email').click(function () {
            const email = $('input[name="email"]').val();
            // 校验邮箱
            if (!/^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/.test(email)) {
                popup.failure('邮箱格式不正确')
                return false;
            }
            const dom = button.load({
                elem: '.send-email'
            })
            // 发送验证码
            $.ajax({
                url: '/api/email/send',
                type: 'POST',
                data: {
                    email: email
                },
                success: function (res) {
                    dom.stop()
                    if (res.code === 200) {
                        popup.success(res.data);
                    } else {
                        popup.failure(res.msg);
                    }
                }
            })


        });


        form.verify({
            username: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^[0-9a-zA-Z]{8,16}$").test(value)) {
                    return '用户名只能包含数字和字母，长度为8-16位';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到20位，且不能出现空格'
            ]
        });

        // 登 录 提 交
        form.on('submit(login)', function (data) {
            /// 验证
            if (data.field.code.length !== 4) {
                popup.failure('验证码长度不正确');
                return false;
            }

            /// 登录
            $.ajax({
                url: '/api/user/login',
                type: 'POST',
                data: data.field,
                success: function (res) {
                    if (res.code === 200) {
                        popup.success('登录成功', function () {
                            window.location.href = '/console/console1';
                        });
                    } else {
                        popup.failure(res.msg);
                    }
                }
            });

            /// 动画
            button.load({
                elem: '.register',
                time: 1500,
            })
            return false;
        });
    })
</script>
</body>
</html>