<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>重置密码界面</title>
    <!-- 样 式 文 件 -->
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/other/register.css}"/>
</head>
<!-- 代 码 结 构 -->
<body background="/admin/images/background.svg" style="background-size: cover;">
<form class="layui-form" action="javascript:void(0);">
    <div class="layui-form-item">
        <img class="logo" th:src="@{/admin/images/logo.png}"/>
        <div class="title">Manager System</div>
        <div class="desc">
            闽南师范大学宿舍电费管理系统
        </div>
    </div>
    <input type="hidden" name="token" th:value="${#request.getParameter('token')}"/>
    <div class="layui-form-item">
        <input placeholder="新 密 码 :  " type="password" name="password" lay-verify="required|pass" hover
               class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <input placeholder="确认密码 :  " type="password" lay-verify="required|rePass" hover
               class="layui-input"/>
    </div>
    <div class="layui-form-item">
        <button type="button" class="pear-btn pear-btn-success reset" lay-submit lay-filter="reset">
            确 认 修 改
        </button>
    </div>
    <div class="layui-form-item ">
        <div class="layui-row flex-space-around">
            <a th:href="@{/register}" class="register">注册账号</a>
            <a th:href="@{/login}" class="relogin">返回登录</a>
        </div>
    </div>
</form>
<!-- 资 源 引 入 -->
<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script>
    layui.use(['form', 'button', 'popup'], function () {
        const form = layui.form;
        const button = layui.button;
        const popup = layui.popup;
        const $ = layui.jquery;

        form.verify({
            rePass: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (value !== $('[name="password"]').val()) {
                    return '两次密码不一致';
                }
            },
            pass: [
                /^[\S]{6,20}$/
                , '密码必须6到20位，且不能出现空格'
            ]
        });

        // 登 录 提 交
        form.on('submit(reset)', function (data) {
            /// 动画
            const dom = button.load({
                elem: '.reset'
            })
            /// 注册
            $.ajax({
                url: '/api/user/reset',
                type: 'POST',
                data: data.field,
                success: function (res) {
                    dom.stop()
                    if (res.code === 200) {
                        popup.success('修改成功，将自动跳回登录界面', function () {
                            window.location.href = '/index';
                        });
                    } else {
                        popup.failure(res.msg);
                    }
                }
            });
            return false;
        });
    })
</script>
</body>
</html>