<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjl.dfglxtv3.mapper.DormMapper">
  <resultMap id="BaseResultMap" type="com.mjl.dfglxtv3.domain.Dorm">
    <!--@mbg.generated-->
    <!--@Table dorm-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="building_id" jdbcType="BIGINT" property="buildingId" />
    <result column="deposit" jdbcType="DECIMAL" property="deposit" />
    <result column="dorm_type_id" jdbcType="BIGINT" property="dormTypeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, building_id, deposit, dorm_type_id, `name`
  </sql>
</mapper>